/* Importar la fuente "Questrial" de Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Questrial&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Teko&display=swap');
/* Estilos generales */
body {
    font-family: 'Questrial', Arial, sans-serif;
    margin: 0;
    padding: 0;
}

/* Media query para ordenadores de escritorio */
@media (min-width: 1024px) {
    .col-4{
        padding-left: 0px;
        padding-right: 0px;
    }

    .titulo {
        display: flex;
        justify-content: space-between;
    }
    .titulo h1 {
        font-size: 20px;
        text-align: left;
        margin: 5rem;
    }
    .header-image {
        display: flex;
        flex-direction: column;
        max-width: 100lvw;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    .titulo img {
        max-width: 95%;
        height: auto;
        margin: 10px;
        border-radius: 8px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }
    .titulo-secundario {
        display: flex;
        flex-direction: column;
        max-width: 20%;
        justify-content: center;
        align-items: center;
        text-align: center;
        margin-right: 3rem;
        margin-top: 2rem;
    }
    .titulo-secundario .lead1 {
        font-size: 20px;
        margin-bottom: 0;
        line-height: 1;
        display: inline;
    }
    .titulo-secundario .lead2 {
        font-size: 40px;
        margin-top: 0;
        line-height: 1;
        display: inline;
    }
    .nosotros {
        display: flex;
        justify-content: space-between;
        margin: 5rem;
        align-items: flex-start;
        align-items: start;
        flex-direction: column;
    }
    .nosotros-text {
        max-width: 100%;
        text-align: left;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
    .nosotros-text p{
        font-size: 20px;
    }
    .nosotros h2{
        font-size: 70px;
    }
    .nav-item {
        height: 100%;
        padding-top: 0.1rem;
    }
    .nav-link{
        font-size: 20px;
    }
    .cotizabutton {
        background-color: #BEC0C2;
        border-color: #BEC0C2;
        font-size: 17.5px;
        padding-top: 3px;
        padding-bottom: 3px;
        padding-left: 7px;
        padding-right: 7px;
        color: black;
        margin-right: -10px;
    }
    .cotizabutton:hover {
        background-color: #9a9b9c;
        border-color: #9a9b9c;
        color: black;
    }
    .instagrambuttom {
        background-color: #006bb6;
        color: white;
        border-color: #006bb6;
        font-size: 22px;
        border-radius: 0;
    }

    .navbar ul{
        height: 2.9rem;
    }
    body .navbar {
        background-color: #f58426 !important;
        padding: 0;
        line-height: 1;
        position: fixed;
        top: 0;
        width: 100%;
        z-index: 1000;
        font-weight: 500;
    }
    body .navbar a {
        color: white;
    }
    .navbar li {
        color: white;
    }
    .navbar-brand {
        font-size: 20px;
    }
    .section {
        padding: 60px 20px;
        margin-top: 80px; /* Adjust this value if needed to avoid content being hidden behind the navbar */
    }
    h1 {
        font-size: 70px;
        text-align: left;
        margin-bottom: 40px;
    }
    .servicios {
        display: flex;
        justify-content: center;
        margin: 20px 0;
        flex-direction: row;
        margin-top: 2rem;
    }
    .servicios h2 {
        margin-bottom: 2rem;
        font-size: 70px;
    }
    .servicios-titulo {
        display: flex;
        flex-direction: column;
        width: 50vw;
        margin-left: 2rem;
        padding-right: 2rem;
    }
    .servicios-titulo p {
        font-size: 20px;
    }
    .corte-laser {
        background-color: #f58426;
        display: flex;
        align-items: flex-end;
        justify-content: flex-end;
        width: 45vw;
        height: 45vh;
        margin-top: 4rem;
        overflow: hidden;
    }
    .corte-laser h3 {
        align-items: end;
        text-align: end;
        font-size: 80px;
        margin-right: 1.5rem;
        margin-top: 2rem;
    }
    .servicios2 {
        display: flex;
        justify-content: center;
        margin: 20px 0;
        flex-direction: column;
        margin-left: 2rem;
    }
    .servicios-titulo2{
        display: flex;
        flex-direction: column;
        max-width: 90vw;
        margin-left: 0.5rem;
    }
    .servicios2 p {
        text-align: left;
        font-size: 20px;
    }
    .materiales {
        width: 100%;
        background-color: #BEC0C2;
        border-color: #BEC0C2;
        color: black;
        font-size: 20px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        text-align: center;
        padding-top: 1rem;
        padding-bottom: 1rem;
        font-size: 20px;
    }
    .materiales:hover {
        background-color: #006bb6;
        border-color: #006bb6;
        color: white;
    }
    .trabajos {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        margin: 40px;
    }
    .trabajos h2 {
        margin-bottom: 2rem;
        font-size: 70px;
    }
    .trabajos2 {
        display: flex;
        flex-direction: row;
        justify-content: center;
        background-color: #006bb6;
        color: white;
        border-color: #006bb6;
        padding-top: 0.2rem;
        padding-bottom: 0.2rem;
        align-items: center;
        text-align: center;
        padding-top: 1rem;
        padding-bottom: 1rem;
        font-family: 'Teko', sans-serif;
    }
    .trabajos2 h2 {
        font-size: 35px;
    }
    .trabajos2 a {
        color: white;
        align-items: center;
        text-align: center;
    }
    .preguntas {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        margin: 40px;
    }
    .preguntas h2 {
        margin-bottom: 2rem;
        font-size: 70px !important;
    }
    
    .cotiza {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        align-items: center;
        margin-bottom: 2rem;
        margin-top: 2rem;
    }
    .cotiza h2 {
        font-size: 70px;
        margin-bottom: 2rem;
    }
    .cotiza p {
        font-size: 20px;
        margin-bottom: 2rem;
    }
    .formulario {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: #006bb6;
        padding: 20px;
        width: 100%;
    }
    .formulario button {
        background-color: white;
        color: black;
        border-color: white;
        font-size: 20px;
    }
    .formulario button:hover {
        background-color: #f58426;
        color: white;
        border-color: #f58426;
    }
    .formulario input {
        background-color: white;
        color: black;
        border-color: white;
        width: 50vw;
    }
    .formulario textarea {
        background-color: white;
        color: black;
        border-color: white;
        width: 50vw;
    }
    .card-body {
        background-color: #f9f9f9;
        color: black;
        font-size: 18px;
        padding:5px;
        border-radius: 8px;
        margin: 20px;
    }
    .card-header button {
        font-size: 20px;
        color: black;
        display: flex;
        flex-direction: row;
        justify-self: center;
        align-self: center;
    }
    .card-header {
        background-color: white;
        border-color: white;
        padding: 0;
    }
    .card {
        border: 0;
        margin-bottom: 1rem;
    }
    .imagen-corte-laser img {
        max-width: 100%;
        border-radius: 8px;
    }
    .ubicacion0 {
        width: 100vw;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .ubicacion1 {
        display: flex;
        justify-content: center;
        background-color: #f58426;
        align-items: center;
        width: 100%;
    }
    .ubicacion-imagen {
        display: flex;
        flex-direction: row-reverse;
        width: 50vw;
    }
    .ubicacion1 img {
        padding: 3rem;
        width: auto;
        height: 30vh;
        border-radius: 8px;
        align-items: center;
        justify-content: center;

    }
    .ubicacion2 {
        display: flex;
        flex-direction: row;
        margin-top: 2rem;
        margin-bottom: 2rem;
        margin-right: 5rem;
        flex-direction: column;
        background-color: #f58426;
    }
    .ubicacion2 h5 {
        color: black;
        font-size: 70px;
        text-align: start;
    }
    .ubicacion2 p {
        color: black;
        font-size: 20px;
        text-align: start;
        margin-left: 0.4rem;
    }
    .icon-color {
        color: #f58426;
    }
    .entrega {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        text-align: left;
        margin-left: 5rem;
        margin-right: auto;
    }
    }
    .entrega h5 {
        font-size: 70px;
        margin-bottom: 2rem;
    }
    .entrega ul {
        font-size: 20px;
        margin-bottom: 2rem;
    }
    .entrega li {
        margin-bottom: 1rem;
        margin-left: 5rem;
        font-size: 20px;

    }
    .gallery {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin: 40px 0;
    }
    .gallery img {
        max-width: 100%;
        height: auto;
        margin: 10px;
        border-radius: 8px;
    }
    .collapsible {
        background-color: #f1f1f1;
        color: #204;
        cursor: pointer;
        padding: 10px;
        width: 100%;
        border: none;
        text-align: left;
        outline: none;
        font-size: 20px;
        transition: 0.4s;
    }
    .active, .collapsible:hover {
        background-color: #ccc;
    }
    .content {
        padding: 0 18px;
        display: none;
        overflow: hidden;
        background-color: #f9f9f9;
    }
    .carousel {
        margin: 40px 0;
    }
    .footer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        background-color: #ffffff;
        color: rgb(0, 0, 0);
    }
    .footer img {
        width: 100%;
        height: auto;
    }
    .footer-top {
        display: flex;
        justify-content: space-between;
    }
    .footer {
        width: 100%;
    }
    .footer1 {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        margin: 2rem;
    }
    .footer1 ul {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: start;
        margin: 0.5rem;
        padding: 0;
        color: black;
    }
    .footer1 ul i {
        font-size: 25px;
    }
    .footer1 li {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: start;
        color: black;
        font-size: 15px;
        font-weight: 500;
    }
    .footer1 a {
        color: black;
    }
    .footer-bottom {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .orange-background {
        background-color: #f58426;
        padding: 20px;
        text-align: center;
    }
    .white-background {
        background-color: white;
        padding: 20px;
        text-align: center;
    }
    

/* Media query para tablets */
@media (min-width: 768px) and (max-width: 1023px) {
    
    /* Aquí puedes agregar los estilos específicos para tablets */
}

/* Media query para móviles */
@media (max-width: 767px) {
    /* Aquí puedes agregar los estilos específicos para móviles */
    .bg-light {
        background-color: #f58426 !important;
    }
    
    .titulo {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        align-items: center;
    }
    .titulo h1 {
        font-size: 40px;
        text-align: center;
        margin: 5rem;
    }
    .titulo img {
        max-width: 100%;
        height: auto;
        margin: 10px;
        border-radius: 8px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }
    .header-image  {
        display: flex;
        flex-direction: column;
        max-width: 100lvw;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    .titulo-secundario {
        display: flex;
        flex-direction: column;
        max-width: 20%;
        justify-content: center;
        align-items: center;
        text-align: center;
        margin-right: 3rem;
    }
    .titulo-secundario .lead1 {
        font-size: 40px;
        margin-bottom: 0;
        line-height: 1;
        display: inline;
    }
    .titulo-secundario .lead2 {
        font-size: 80px;
        margin-top: 0;
        line-height: 1;
        display: inline;
    }
    .nosotros {
        display: flex;
        justify-content: center;
        margin: 5rem;
        align-items: flex-start;
        align-items: start;
        flex-direction: column;
    }
    .nosotros-text {
        max-width: 70%;
        text-align: left;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
    .nosotros h2{
        font-size: 67px;
    }
    .nav-item {
        height: 100%;
        padding-top: 0.1rem;
    }
    .cotizabutton {
        background-color: #BEC0C2;
        border-color: #BEC0C2;
        font-size: 17.5px;
        padding-top: 3px;
        padding-bottom: 3px;
        padding-left: 7px;
        padding-right: 7px;
        color: black;
        width: 20vw;
    }
    .instagrambuttom{
        padding:0;
        margin-top: 0.5rem;
        background-color: #006bb6;
        color: white;
        padding-top: 0.4rem;
        padding-bottom: 0.4rem;
        padding-right: 0.4rem;
    }
    .ml-2{
        margin-left: 0 !important;
    }
    .my-5{
        display: flex;
        justify-content: center;
        margin-top: 1rem;
        margin-left: 2rem;
        margin-right: 2rem; 
        flex-direction: column;
        align-items: center;
        text-align: center;
        padding: 2rem;
    }
    .servicios h2{
        font-size: 67px !important;
    }
    .servicios h3{
        font-size: 67px !important;
    }
    .listadomateriales{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    .trabajos h2{
        font-size: 67px !important;
    }
    .trabajos2{
        background-color: #006bb6;
        color: white;
        border-color: #006bb6;
        width: 100vw;
        align-items: center;
        text-align: center;
        padding: 1rem;
        margin-top: 1rem;
    }
    .trabajos2 h2{
        font-size: 30px;
    }
    .trabajos2 a{
        color: white;
        text-decoration: underline;
    }
    .preguntas{
        margin-bottom: 2rem;
    }
    .preguntas h2{
        font-size: 67px !important;

    }
    .imagen-corte-laser img{
        width: 100%;
    }

    .cotiza{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        align-items: center;
        margin-bottom: 2rem;
        margin-top: 2rem;
        padding: 2rem;
    }
    .cotiza h2{
        font-size: 67px;
        margin-bottom: 2rem;
    }
    .formulario{
        background-color: #006bb6;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 2rem;
        border-radius: 15px;
    }
    .formulario button{
        background-color: #f58426;
        color: whitesmoke ;
        border-color: #f58426;
        font-size: 20px;
    }
    .ubicacion{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        align-items: center;
        pad: 2rem;
    }
    .ubicacion-imagen{
        display: flex;
        flex-direction: row;
        justify-content: center;
        width: 100%;
    }
    .ubicacion1 img{
        height: auto;
        border-radius: 8px;
        align-items: center;
        justify-content: center;
        max-width: 70px;
        height: 70px;
        margin-top: 1.5rem;
    }
    .entrega{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
    }
    .materiales{
        width: 100%;
        background-color: #BEC0C2;
        border-color: #BEC0C2;
        color: black;
        font-size: 22px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        text-align: center;
        padding-top: 1rem;
        padding-bottom: 1rem;
        font-size: 20px;
    }
    .ubicacion1{
        display: flex;
        flex-direction: row;
    }
    .ubicacion1{
        background-color: #f58426;
    }
    #galeria{
        padding: 0;
        margin: 0;
    }
    .ubicacion2 h5{
        font-size: 67px;
    }
    .ubicacion2 p{
        font-size: 22px;
    }
    .entrega h5{
        font-size: 67px;
        margin-top: 1rem;
    }
    .entrega ul{
        font-size: 27px;
    }
    .entrega li{
        margin-bottom: 1rem;
    }
    .gallery{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin: 40px 0;
    }
    .footer img{
        width: 100%;
    }
    .footer1{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
        font-size: 10px;
    }
    .footer1 ul{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: start;
        margin: 0.5rem;
        padding: 0;
        color: black;
    }
    .footer1 a{
        color: black;
        font-size: 10px;
    }
    .footer1 a i{
        color: #f58426;
        }
    .trabajos2{
        margin-top: 2rem;
    }
}
